<%= form_for @atlas do |f| %>
	<div class="control-group">
		<%= f.label :name, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :name, :class => 'text_field' %>
		</div>
	</div>
	<%= f.fields_for :sizes do |s| %>
		<%= 10.times do %>
			<%- i = 10 %>
				<div class="control-group">
					<%= s.label :label, "Size Level " + 10.to_s %>
						<div class="controls">
							<%= s.hidden_field :level, :value => (11-i) %>
							<%= s.text_field :label, :class => 'text_field' %>
						</div>
				</div>
			<%- i -= 1 %>
		<% end %>
	<% end %>
	<%= f.submit "Create Atlas" %>
<% end %>