<%= form_for @atlas do |f| %>
	<div class="control-group">
		<%= f.label :name, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :name, :class => 'text_field' %>
		</div>
	</div>
	<% i = 10 %>
	<%= f.fields_for :sizes do |s| %>
		<div class="control-group">
			<%= s.label :label, "Size Level " + i.to_s %>
				<div class="controls">
					<%= s.hidden_field :level, :value => i %>
					<%= s.text_field :label, :class => 'text_field' %>
				</div>
		</div>
		<% i -= 1 %>
	<% end %>
	<%= f.submit "Create Atlas" %>
<% end %>