<div>
	<% if flash[:errors] %>
		<% flash[:errors].each do |e| %>
			<p><%= e %></p>
		<% end %>
		<br>
		<br>
	<%end%>
	<%= form_tag({:action => 'create'}) do %>
		<div class="control-group">
			<%= label_tag "name", "Atlas Name" %>
			<div class="controls">
				<%= text_field_tag "name" %>
			</div>
		</div>
		<%= hidden_field_tag "user_id", current_user.id %>
		<%= hidden_field_tag "type_count", 1 %>
		<fieldset>
			<legend>Tag Types:</legend>
			<div class="control-group">
				<%= label_tag "label1", "New Tag Type" %>
					<div class="controls">
						<%= text_field_tag "label1" %>
					</div>
			</div>
		</fieldset>
		<button type="button" id = "addTypeField">Add Another Type</button><br><br>
		<%= submit_tag "Create Atlas" %>
	<% end %>
</div>