<div>
	<%= nested_form_for @atlas do |f| %>
		<%= f.error_messages %>
		<div class="control-group">
			<%= f.label :name %>
			<div class="controls">
				<%= f.text_field :name, :required => true %>
			</div>
		</div>
		<%= hidden_field_tag "atlas_user_id", current_user.id, :name => "atlas[user_id]" %>
		<%= f.fields_for :types do |type| %>
			<%= type.text_field :label, :required => true %>
			<%= type.link_to_remove "Remove this type" %>
		<% end %>
		<%= render :partial => 'map' %>
		<div id="right-pane">
			<%=	f.fields_for @atlas.realm do |realm| %>
				<%= realm.hidden_field :title, :id => 'atlas_realm_title', :name => 'atlas[realm_attributes][title]', :value => "Atlas", :required => true %>
				<%= realm.hidden_field :atlas_id, :id => 'atlas_realm_atlas_id', :name => 'atlas[realm_attributes][atlas_id]', :value => @world.id, :required => true %>
				<%= realm.hidden_field :lat, :id => 'atlas_realm_lat', :name => 'atlas[realm_attributes][lat]' %>
				<%= realm.hidden_field :lng, :id => 'atlas_realm_lng', :name => 'atlas[realm_attributes][lng]' %>				
				<%= realm.number_field :radius, :in => 0 ... 10000000, :step => 0.5, :value => 0, :id => 'atlas_realm_radius', :name => "atlas[realm_attributes][radius]", :required => true %>
				<%= realm.fields_for :type do |t| %>
					<%= t.hidden_field :label, :id => 'atlas_realm_type_label', :name => 'atlas[realm_attributes][type_attributes][label]', :value => "Atlas" %>
				<% end %>
			<% end %>
		</div>
		<p><%= f.link_to_add "Add another type", :types %></p>
		<%= f.submit "Create Atlas", :id => "submit_atlas" %>
	<% end %>
</div>