<%= form_tag({:action => 'create'}) do %>
	<div class="control-group">
		<%= label_tag "name", "Atlas Name" %>
		<div class="controls">
			<%= text_field_tag "name" %>
		</div>
	</div>
	<%= hidden_field_tag "user_id", :value => current_user.id %>
	<fieldset>
		<legend>Tag Types:</legend>
		<div class="control-group">
			<%= label_tag "label", "New Tag Type" %>
				<div class="controls">
					<%= text_field_tag "label" %>
				</div>
		</div>
	<fieldset>
	<%= submit_tag "Create Atlas" %>
<% end %>