<h3>Current Reports</h3>
<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Location</th>
			<th>Received At</th>
		</tr>
	</thead>
	<tbody>
		<% @reports.each do |r| %>
			<tr>
				<td><%= r.event_name %></td>
				<td><%= link_to r.tag.title, atlas_tag_path(@atlas.id, r.tag) %></td>
				<td><%= r.created_at.strftime("%B %d, %Y, %k:%M:%S %p") %></td>
			</tr>
		<% end %>
	</tbody>

</table>
<br>
<%= link_to "View all place tags in this atlas", atlas_tags_path(@atlas) %><%= " | "%><%= link_to "View all events in this atlas", atlas_events_path(@atlas) %><%= " | "%><%= link_to "Create new report", new_atlas_report_path(@atlas) %>
