<%= link_to "View all place tags in this atlas", atlas_tags_path(@atlas) %><%= " | "%><%= link_to "View all events in this atlas", atlas_events_path(@atlas) %><%= " | "%><%= link_to "Create new report", new_atlas_report_path(@atlas) %><%=" | "%><%= link_to "Case Manager", atlas_cases_path(@atlas) %><%= " | "%><%= link_to "Atlas Dashboard", atlas_path(@atlas) %><%= " | "%><%= link_to "User Home", root_path %>
<h2>All Cases</h2>
<div id = "right-pane">
	<%= render :partial => "new_case_form" %>
</div>

<table>
	<thead>
		<tr>
			<th>Case</th>
			<th># of Reports</th>
			<th>Most Likely Location</th>
			<th>Location Status</th>
		</tr>
	</thead>
	<tbody>
		<% @cases.each do |c| %>
			<tr>
				<td><%= link_to c.name, atlas_case_path(@atlas, c) %></td>
				<td><%= c.reports.length.to_s %></td>
				<td><%= c.tag_id? ? "'" + c.tag.title  + "'" : "No tag currently set" %></td>
				<td>
					<%- if c.conflicted? %>
						<%= "" + c.conflicts.count.to_s + " conflicting tag sets" %>
					<%- else %>
						<%- if c.certainty_score <= 1.0 && c.certainty_score > 0.95 %>
							<%= "Very high certainty: " + c.certainty_score.round(3).to_s %>						
						<%- elsif c.certainty_score <= 0.95 && c.certainty_score > 0.75 %>
							<%= "High certainty: " + c.certainty_score.round(3).to_s %>
						<%- elsif c.certainty_score <= 0.75 && c.certainty_score > 0.50 %>
							<%= "Decent certainty: " + c.certainty_score.round(3).to_s %>
						<%- elsif c.certainty_score <= 0.50 && c.certainty_score > 0.25 %>
							<%= "Low certainty: " + c.certainty_score.round(3).to_s %>
						<%- elsif c.certainty_score <= 0.25 && c.certainty_score >= 0.0 %>
							<%= "Negligible certainty: " + c.certainty_score.round(3).to_s %>
						<%- else %>
							<%= "Negligible certainty: " + c.certainty_score.round(3).to_s %>
						<%- end %>
					<%- end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
