<%= form_tag ({:action => 'create'}) do %>
	<div class = "control-group" id="old_tag_input">
		<div class = "control-label">
			<%= label_tag "Location" %>
		</div>
		<div class = "controls">
			<%= select_tag "tags", options_from_collection_for_select(@tags, "id", "title", options={:prompt => "Select a tag"}) %>
			<div class = "box-button" id = "new_tag">Assign To New Tag</div>
			<br><br><br>
		</div>
	</div>
	<div id = "new_tag_form">
		<%= render :partial => "tag_form" %>
	</div>
	<%= hidden_field_tag "atlas_id", @atlas.id %>
	<div class = "control-group">
		<div class = "control-label">
			<%= label_tag "Event Name" %>
		</div>
		<div class = "controls">
			<%= text_field_tag "event_name" %>
		</div>
	</div>
	<%= submit_tag "Create Report" %>
<% end %>