<script type="text/javascript">
	var radiusDefault = Number($("#radius").val());
	function initialize() {
	  var mapOptions = {
	    center: new google.maps.LatLng(-34.397, 150.644),
	    zoom: 8,
	    mapTypeId: google.maps.MapTypeId.HYBRID
	  };
	  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		function addMarker(event){
			markerPoint = event.latLng
			marker = new google.maps.Marker({
				map:map,
				draggable:true,
				position:markerPoint,
				animation: null
			});
			function addCircle(){
				radiusDefault = Number($("#radius").val());
				markerCircle = new google.maps.Circle({
					map:map,
					center:markerPoint,
					radius:radiusDefault,
					fillColor:"#EEEEEE",
					fillOpacity:0.5,
					strokeColor:"#EEEEEE",
					strokeOpacity:1.0
				});
				$("#types").on('click', function(){
					var typeId = String($("#types").val());
					typeId = "#" + typeId;
					markerCircle.setRadius(Number($(typeId).val()))
				});
			};
			google.maps.event.addListenerOnce(map, 'click', addCircle);
			google.maps.event.trigger(map, 'click')
			function recenterCircle(){
				var newLatLng = marker.getPosition();
				markerCircle.setCenter(newLatLng);
				$("#lat").val(newLatLng.lat());
				$("#lng").val(newLatLng.lng());				
			};
			google.maps.event.addListener(marker, 'drag', recenterCircle)
			var lat = markerPoint.lat();
			var lng = markerPoint.lng();
			$("form").prepend("<input type = 'hidden' id = 'lat' name = 'lat' value = " + lat + " >");
			$("form").prepend("<input type = 'hidden' id = 'lng' name = 'lng' value = " + lng + " >");
			$("#radius").on("click", function(){
				newRadius = Number($(this).val());
				markerCircle.setRadius(newRadius);
			});
			$("#radius").on("keyup", function(){
				rFeed = String($(this).val());
				newRadius = Number(rFeed);
				markerCircle.setRadius(newRadius);
			});
		};
		google.maps.event.addListenerOnce(map, 'click', addMarker);
		$("#types").on('click', function(){
			var typeId = String($("#types").val());
			typeId = "#" + typeId;
			radiusDefault = Number($(typeId).val());
			$("#radius").val(radiusDefault);
		});
	};
	var newTagButton = document.getElementById("new_tag");
	google.maps.event.addDomListenerOnce(newTagButton, 'click', initialize);
</script>

<div id = "center-pane">
	<div id = "map-holder">
		<div id = "map-canvas"></div>
	</div>
</div>
	<div id="right-pane">
			<h3>New Tag</h3>
			<%= f.semantic_fields_for :tag do |tag| %>
				<%= tag.inputs do %>
					<%= tag.input :title %>
					<div class = "control-group" id = "old-type-form">
						<%= tag.input :type_id, :as => :select, :collection => @types %>
						<div class = "box-button", id = "new-type-button" >Create a new type</div>
						<br>
						<br>
					</div>
					<div class = "control-group" id = "new-type-form">
						<%= tag.semantic_fields_for :type do |type| %>
							<%= type.input :label %>
								<div class = "box-button", id = "old-type-button">Use old type</div>
								<br>
								<br>
						<% end %>
					</div>
				<% end %>
				<%= tag.input :radius, :as => :number, :in => 0 ... 100000, :step => 0.5, :value => 0 %>
			<% end %>

	</div>
	<div>
		<% @types.each do |t| %>
		  <%= hidden_field_tag t.id, t.average_radius %>
		<% end %>
	</div>